@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

.appList__item {
  flex-grow: 1;
  width: 25%;
  text-align: center;
  margin-bottom: 50px;
  height: 100%;
  box-shadow: -1px 1px 18px -2px rgba(0, 0, 0, 0.11);
  margin-right: 10px;
  border-radius: 20px;
}
.appList__listArea {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}
.appList__item a {
  text-decoration: none;
}
.appList__item embed {
  width: 90%;
  padding-top: 25px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.appList__item:nth-child(even) {
  background-color: #f9f9f9cc;
}
.appList__item:nth-child(10) {
  flex-grow: unset;
  width: 33%;
}

.headerContainer {
  width: 90%;
  margin: 0 auto;

  margin-bottom: 70px;
}
.headerContainer h1 {
  border-bottom: 1px solid red;
  padding-bottom: 10px;
}
embed {
  overflow: hidden;
}

.headerContainer a {
  margin-right: 20px;
  text-decoration: none;
}

.searchArea {
  display: flex;
  margin-bottom: 40px;
}
.searchArea input {
  margin: 0 auto;
  width: 30%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  border-radius: 30px;
}

.details__area {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.details__table {
  border-spacing: 0;
}
.details__table td {
  /*border-top:1px solid #ccc;
  border-right:1px solid #ccc ;
  */
  border: 1px solid #ccc;
  padding: 20px;
}

.details__table tr td:first-child {
  text-align: center;
}
.details__table tr td:last-child {
  padding-left: 20px;
}

.commentArea {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  align-items: start;
  width: 90%;
  margin-bottom: 100px;
}

.commentArea textarea {
  font-family: "Open Sans";
  padding: 10px;
  /* padding-bottom: 20px; */
}

.commentArea_userComment {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
  width: 100%;
  margin-bottom: 50px;
}
.commentArea_userComment p {
  text-align: justify;
}

#authButton {
  all: unset;
  cursor: pointer;
  color: rgb(216, 85, 62);
  font-weight: 600;
}
@media screen and (min-width: 300px) {
  #authButton {
    all: unset;
    cursor: pointer;
    color: rgb(216, 85, 62);
    font-weight: 600;
  }
}

.buyArea_btn {
  text-align: center;
}
.buyArea_btn button {
  all: unset;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
  margin-bottom: 20px;
}

.buyArea_btn button:hover {
  background-color: rgb(28, 189, 100);
  color: rgb(255, 255, 255);
}
.buyArea__form {
  display: flex;
  flex-direction: column !important ;
  width: 40%;
  margin: 0 auto;
}
.buyAre__form__sec {
  /* margin-top: 10px; */
  display: flex;
  justify-content: space-between;
}
.buyArea__form label {
  margin-bottom: 5px;
}
.buyArea__form input {
  all: unset;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
}
.buyArea__form button {
  all: unset;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-top: 20px;
}
.buyArea__form button:hover {
  border-color: rgb(162, 80, 255);
  margin-top: 24px;
  box-shadow: -1px 1px 20px -8px rgba(0, 0, 0, 0.75);
}
.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}